$bg-main: #F5F8F9;
$bg-blue: #076BB7;
$bg-green: #56B969;
$bg-green-hover: #4AA05A;
$bg-green-active: #6ACE7C;
$bg-light-grey: #EBEBEB;
$bg-dropdown-hover: #D3DAED33;
$font-color-main: #3D4347;
$font-color-light: #60686E;
$font-color-extra-light: #A6A9AC;
$font-color-blue: #177BC6;
$font-color-dropdown-item-hover: #191919;
$font-color-dropdown-hover: #F5FFAA;
$white: #ffffff;

