$bg-main: #F5F8F9;
$bg-blue: #076BB7;
$bg-green: #56B969;
$bg-light-grey: #EBEBEB;
$font-color-main: #3D4347;
$font-color-light: #60686E;
$font-color-extra-light: #A6A9AC;
$font-color-blue: #177BC6;
$white: #ffffff;

